
body {
    margin: 0;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    
}

section.home {
    background: #ffc880;
    padding: 5%;
    height: 600px;
    text-align: center;
    border-radius: 10px;
}

section h1 {
    margin: 50px;
    padding: 10px;
    height: 200px;
    font-size: 90px;
    color: #80b7ff;
    
}

section .contents {
    margin: 50px;
    padding: 10px;
    height: 200px;
    font-size: 40px;
    color: #5e60c5;
}

section .logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}